#### 1. Import pandas library

In [42]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [43]:
data_users = pd.read_csv('/Users/laurasg/Documents/Ironhack_data/13-lab-pandas-data-cleaning/your-code/users.csv')
data_users.head()

,Unnamed: 0,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk
1,1,218597,icabod,NaN,NaN,2009-11-25 13:30:42.460000+00:00,2020-05-29 11:44:18.140000+00:00,United Kingdom,6559,361,25,374,NaN,http://icablog.org/
2,2,326360,rbaker86,<p>Software developer and technology enthusias...,NaN,2010-04-26 21:18:19.857000+00:00,2017-12-04 16:49:29.297000+00:00,United Kingdom,1802,40,14,97,NaN,http://na
3,3,379556,Rui Marques,<p>Engineer and Automation Architect at Vonage...,NaN,2010-06-29 23:32:49.870000+00:00,2020-05-28 14:49:23.427000+00:00,United Kingdom,2335,125,10,261,NaN,http://ruimarques.io
4,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com

In [44]:
data_posts = pd.read_csv('/Users/laurasg/Documents/Ironhack_data/13-lab-pandas-data-cleaning/your-code/posts.csv')
data_posts.head()

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  30336926            NaN      1          14              3             NaN
1  36873524            NaN      1          18              0             1.0
2  36605876            NaN      1          19              0             NaN
3  36718461            NaN      1          17              0             NaN
4  30434893            NaN      0          15              0             NaN

#### 3. Rename id column to user_id

In [51]:
data_users.rename(columns = {"id":"user_id"}, inplace=True)

#### 4. Rename id column to post_id and owner_user_id to user_id

In [52]:
data_posts.rename(columns = {"id":"post_id"}, inplace= True)
data_posts.rename(columns = {"owner_user_id":"user_id"}, inplace =True)
data_posts.head()

    post_id  user_id  score  view_count  comment_count  favorite_count
0  30336926      NaN      1          14              3             NaN
1  36873524      NaN      1          18              0             1.0
2  36605876      NaN      1          19              0             NaN
3  36718461      NaN      1          17              0             NaN
4  30434893      NaN      0          15              0             NaN

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [59]:
users = data_users[["user_id", "reputation","views","up_votes","down_votes"]]

In [58]:
posts = data_posts[["post_id", "score","user_id","view_count","comment_count"]]

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [64]:
merged_data = users.merge(posts)

In [65]:
merged_data

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
0,450456,7746,3598,256,50,34989087,0,19,0
1,450456,7746,3598,256,50,4142174,0,15,0
2,1517244,4172,224,1362,32,37211628,2,18,0
3,1870509,897,105,86,2,30260248,1,11,4
4,101719,4055,332,174,16,34528617,0,18,0
...,...,...,...,...,...,...,...,...,...
1060,4295902,1,4,0,0,31038301,0,10,0
1061,2856201,11,21,0,0,19348144,0,19,2
1062,5882818,11,3,0,0,35199880,0,20,2
1063,6241297,13,2,0,0,36798683,0,12,0
1064,592420,21,30,2,0,36739521,0,5,0

#### 7. How many missing values do you have in your merged dataframe?

In [69]:
null_cols = merged_data.isnull().sum()
null_cols[null_cols > 0]

Series([], dtype: int64)

In [70]:
null_cols

user_id          0
reputation       0
views            0
up_votes         0
down_votes       0
post_id          0
score            0
view_count       0
comment_count    0
dtype: int64

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [117]:

stats = merged_data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
user_id,1065.0,2.280169e+06,1.833959e+06,274.0,653292.0,1996838.0,3545704.0,6449207.0,2892412.0
reputation,1065.0,7.251177e+03,2.402161e+04,1.0,246.0,1145.0,5206.0,287170.0,4960.0
views,1065.0,6.152451e+02,1.497408e+03,0.0,39.0,145.0,496.0,23103.0,457.0
up_votes,1065.0,3.976883e+02,7.476289e+02,0.0,15.0,96.0,375.0,7886.0,360.0
down_votes,1065.0,4.941502e+01,1.773088e+02,0.0,0.0,3.0,20.0,2692.0,20.0
post_id,1065.0,3.398846e+07,4.495709e+06,4142174.0,32891107.0,35563172.0,36991120.0,37769864.0,4100013.0
score,1065.0,1.239437e-01,5.781415e-01,-7.0,0.0,0.0,0.0,3.0,0.0
view_count,1065.0,1.560657e+01,3.711159e+00,3.0,13.0,17.0,19.0,20.0,6.0
comment_count,1065.0,9.267606e-01,1.627503e+00,0.0,0.0,0.0,1.0,11.0,1.0

In [118]:


outliers = pd.DataFrame(columns=merged_data.columns)

for col in stats.index:
    
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = merged_data[(merged_data[col] < lower) | 
                   (merged_data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count,Outlier
30,37947,58371,3667,2248,574,37466249,0,19,0,reputation
33,15825,21815,1305,2100,28,31291218,0,19,0,reputation
44,789657,13685,4473,920,778,35155919,2,13,0,reputation
95,6068,244872,11737,934,98,36953621,0,11,0,reputation
96,6068,244872,11737,934,98,33842576,0,6,0,reputation
...,...,...,...,...,...,...,...,...,...,...
1022,3562271,5791,326,112,27,26692520,0,18,3,comment_count
1036,875393,417,53,236,3,36718577,0,18,6,comment_count
1037,2762432,2415,190,225,87,37613295,0,12,3,comment_count
1051,1551819,147,9,34,0,35987581,0,17,8,comment_count
1054,4556923,17,13,0,0,36695604,0,20,9,comment_count

In [116]:
outliers.to_csv('/Users/laurasg/Documents/Ironhack_data/13-lab-pandas-data-cleaning/your-code/outliers.csv')