#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [6]:
users = pd.read_csv("/Users/blancurri/Desktop/Formació/IronHack/Labs/13-lab-pandas-data-cleaning/your-code/users.csv")
users.head()

<bound method NDFrame.head of        Unnamed: 0       id     display_name  \
0               0   107658       ivordesign
1               1   218597           icabod
2               2   326360         rbaker86
3               3   379556      Rui Marques
4               4   450456            Jules
...           ...      ...              ...
14843       14843   574332  Captain Caveman
14844       14844  7155452           Mode-X
14845       14845  5529001         V.Savage
14846       14846  4105549        Tom Baker
14847       14847  4886640         gopisaba

                                                about_me  age  \
0                                                    NaN  NaN
1                                                    NaN  NaN
2      <p>Software developer and technology enthusias...  NaN
3      <p>Engineer and Automation Architect at Vonage...  NaN
4                                                    NaN  NaN
...                                                  ...  ...
14843                                                NaN  NaN
14844  <p>Just getting into Android App development. ...  NaN
14845                                                NaN  NaN
14846  <p>Support Developer</p>\n\n<p>Using,</p>\n\n<...  NaN
14847  <p>Individual contributor who loves Infrastruc...  NaN

                          creation_date                  last_access_date  \
0      2009-05-15 12:21:51.230000+00:00  2014-08-28 17:43:18.040000+00:00
1      2009-11-25 13:30:42.460000+00:00  2020-05-29 11:44:18.140000+00:00
2      2010-04-26 21:18:19.857000+00:00  2017-12-04 16:49:29.297000+00:00
3      2010-06-29 23:32:49.870000+00:00  2020-05-28 14:49:23.427000+00:00
4      2010-09-17 09:47:09.397000+00:00  2020-05-13 07:03:58.113000+00:00
...                                 ...                               ...
14843  2011-01-13 14:08:49.653000+00:00  2018-05-24 20:33:44.657000+00:00
14844  2016-11-14 06:43:00.503000+00:00  2019-02-05 22:05:38.527000+00:00
14845  2015-11-05 11:28:05.457000+00:00  2016-03-09 12:16:33.497000+00:00
14846  2014-09-26 10:43:52.033000+00:00  2020-05-27 15:34:09.103000+00:00
14847  2015-05-11 08:58:26.783000+00:00  2020-05-30 21:55:14.380000+00:00

             location  reputation  up_votes  down_votes  views  \
0      United Kingdom         305         2           0     91
1      United Kingdom        6559       361          25    374
2      United Kingdom        1802        40          14     97
3      United Kingdom        2335       125          10    261
4      United Kingdom        7746       256          50   3598
...               ...         ...       ...         ...    ...
14843  United Kingdom          41        10           0      6
14844  United Kingdom          41         0           0      6
14845  United Kingdom          41         0           0     11
14846  United Kingdom          41         2           0     11
14847  United Kingdom          41        13           0     11

                                       profile_image_url  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4          https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1
...                                                  ...
14843                                                NaN
14844  https://www.gravatar.com/avatar/0abeeedd0dd8d3...
14845                https://i.stack.imgur.com/tSAyG.jpg
14846  https://www.gravatar.com/avatar/19c36d2481ad65...
14847  https://www.gravatar.com/avatar/60302cf41ce053...

                            website_url
0      http://www.ivorthedesigner.co.uk
1                   http://icablog.org/
2                             http://na
3                  http://ruimarques.io
4        https://www.julesmoorhouse.com
...                                 ...
14843                               NaN
14844                               NaN
14845                               NaN
14846                        http://N/A
14847                               NaN

[14848 rows x 14 columns]>

In [4]:
users = pd.read_csv("/Users/blancurri/Desktop/Formació/IronHack/Labs/13-lab-pandas-data-cleaning/your-code/posts.csv")

#### 3. Rename id column to user_id

#### 4. Rename id column to post_id and owner_user_id to user_id

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 7. How many missing values do you have in your merged dataframe?

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!